*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    display: flex;
}
.shape{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman';
    margin-top: 10px;
    margin-left: 10px;
}
#Sqr2{
    /* background-color: rgb(132, 248, 132); */
}
